@import "normalize.css";
@import "grid.css";
@import "video.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* =======  Main layout styles ======= */
html,
body {
  padding:0;
  margin:0;
}
body {
  font: 300 16px/24px "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  background: rgb(34, 95, 165);
}
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  color: rgb(255, 255, 255);
}
img {
  max-width: 100%;
}
* {
  -webkit-text-size-adjust: none;
}

/* ======= Headers ======= */
h1 {
  z-index: 4;
  text-align:center;
  font: 400 70px/70px "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
}
h1 span {
  display: block;
}
@media (max-width: 979px) {
  h1 {
    font-size: 57px;
    line-height: 57px;
  }
}
@media (max-width: 479px) {
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
}
h2 {
  font: 400 50px/54px "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  margin:0 auto;
}
h2 span {
  font-weight: 700;
  display:block;
}
@media (max-width: 979px) {
  h2 {
    font-size: 40px;
    line-height: 40px;
  }
}
@media (max-width: 479px) {
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
}

h3 {
  font: 400 30px/32px "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
}
h3 span {
  font-weight: 700;
  display:block;
}

/* ======= Buttons ======= */
.btn-default {
  display: inline-block;
  font: 400 20px/20px "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
  background: rgba(255,255,255, 0);
  padding: 11px 40px;
  border: 1px solid #ffffff;
  -moz-border-radius: 2px; 
  -webkit-border-radius: 2px; 
  -o-border-radius: 2px; 
  border-radius: 2px; 
}
.btn-default:hover {
  background: rgb(255, 255, 255);
  color: rgb(34, 95, 165);
}

/* ======= Main Content ======= */
#content {
  background: rgb(34, 95, 165);
  position: relative;
  z-index: 3;  
  margin-top: 78px;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
#content:before {
	content: '';
	position: absolute;
	z-index: 3;
	top: -98px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 98px 0 0 100vw; 
	border-color: transparent transparent transparent #225FA5;
}
@media (max-width: 979px) {
 #content:before {
	top: -98px;
	border-width: 98px 0 0 100vw; 
  }
}
@media (max-width: 479px) {
 #content {
	 margin-top: 68px;
 }
 #content:before {
	top: -88px;
	border-width: 48px 0 0 100vw; 
  }
}
/* ======= Header Style ======= */
header {
  background: rgb(255, 255, 255);
  position: relative; 
  height: 100%;
  text-align: center;
}
#header_wrapper{
    position: absolute;
    z-index: 2;
    width: 100%;
	height: 100vh;
    display: table;
}
#header_wrapper:after {
    content: '';
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(34, 95, 165, 0.7); 
    z-index: -1; 
}
#header_wrapper > div {
  display: table-cell;
  vertical-align:middle;
}
.header-claim {
  position: relative;  
}
.header-claim a {
    text-align: center;
	z-index:2;
}

/* ======= Filters ======= */
#filters {
  margin-top: 50px;
  margin-bottom: 30px;
}
#filters .button {
  display: inline-block;
  padding:6px 14px;
  background: transparent;
  border: none;  
  font: 400 20px/20px "Open Sans", sans-serif;
  color: rgba(255,255,255, 0.5);  
  cursor: pointer;
}
@media (max-width: 479px) {
  #filters .button {
    font-size: 16px;
    line-height: 16px;
  }
}
#filters .button:hover {
  color: rgba(255,255,255, 1);
}
#filters .button:active {
  color: rgba(255,255,255, 0.5);
  outline: none;
}
#filters .button.is-checked {
  color: rgb(34, 95, 165);
  background: rgb(255, 255, 255);
  outline: none;
}
#filters .button:active {
  color: rgba(255,255,255, 0.5);
}
#filters .button-group:after {
  content: '';
  display: block;
  clear: both;
}
#filters .button-group .button {
  float: left;  
  margin-left: 0;
  margin-right: 55px;
  margin-bottom: -5px;
  -moz-border-radius: 0px; 
  -webkit-border-radius: 0px; 
  -o-border-radius: 0px;
  border-radius: 0px;
}
@media (max-width: 479px) {
  #filters .button-group .button {
    float: none;
	display: block;
    margin-right: 0;    
  }
}

/* ======= Grid Isotope ======= */
.grid {
  position: relative;
  margin-left:-15px;
  margin-right:-15px;
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid .element-item {
  margin-bottom: 30px;
  position:relative;
  z-index: 1;
}
@media (max-width: 479px) {
  .grid .element-item {
    margin-bottom: 20px;
  }
}

/* ======= Figure Isotope  ======= */
.element-item figure {
  display: flex;
  margin:0;
  padding:0;
  overflow: hidden;
  cursor:pointer;
}
.element-item figure:after {
	content: '';
	position: absolute;
	z-index: 2;	
	opacity: 1;
	filter: alpha(opacity=100);
	zoom: 1;
    width: auto;
    height: 100%;
    top: 0;
    left: 15px;
	right: 15px;
    bottom: 0;
	background: -moz-linear-gradient(top, rgba(30,71,120,0.3) 0%, rgba(30,71,120,0.5) 100%);
	background: -webkit-linear-gradient(top, rgba(30,71,120,0.3) 0%,rgba(30,71,120,0.5) 100%);
	background: linear-gradient(to bottom, rgba(30,71,120,0.3) 0%,rgba(30,71,120,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d1e4778', endColorstr='#801e4778',GradientType=0 );    
	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	-o-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;	
}
.element-item figure:hover:after {
	opacity:1;
	filter: alpha(opacity=100);
	zoom: 1;
	background: -moz-linear-gradient(top, rgba(181,215,255,0.7) 0%, rgba(181,215,255,0.95) 100%);
	background: -webkit-linear-gradient(top, rgba(181,215,255,0.7) 0%,rgba(181,215,255,0.95) 100%);
	background: linear-gradient(to bottom, rgba(181,215,255,0.7) 0%,rgba(181,215,255,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b5d7ff', endColorstr='#f2b5d7ff',GradientType=0 );	
}
.element-item figure img {
  opacity: 1;
  filter: alpha(opacity=100);
  zoom: 1;
  width: 100%;
  height: 100%;  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.element-item figure:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.element-item figcaption {
  opacity: 1;
  filter: alpha(opacity=100);
  zoom: 1;
  z-index:3;
  display:table;
  position:absolute;
  width:100%;
  height:100%;
  min-height:230px;
  top:0;
  left:0;  
  text-align:center;
}
@media (max-width: 479px) {
  .element-item figcaption {
    min-height:200px;
  }
}
.element-item figcaption h3 {
  opacity: 0;
  filter: alpha(opacity=0);
  zoom: 1;
  z-index:2;
  display:table-cell;
  vertical-align:middle;  
  position: relative;
  margin: 0 auto;  
  color:rgb(30, 71, 120); 
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
}
.element-item figure:hover h3 {
  opacity: 1;
  filter: alpha(opacity=100);
  zoom: 1;
}

/* ======= Footer Style ======= */
footer {
  background: rgb(34, 95, 165);
  position: relative;
  z-index: 2;
}
footer .privacy-block {
  font: 300 9px/22px "Open Sans", sans-serif;
  margin: 1rem auto;
}
footer .privacy-block span {
  display:inline-block;
  color: rgb(255, 255, 255);  
}
